body{
    font-family: 'Courier New', Courier, monospace;
    background-color: lightblue;
    background-image: url(anime.jpg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-attachment: fixed;

}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: green;
    color: white;
    text-align: center;
    text-transform: lowercase;
}

p{
    font-style: italic;
    text-transform: capitalize;
}